<div class="flex flex-col items-center justify-center">
  <h2 class="font-bold text-center mb-2">
    <%= shop.name %>
  </h2>
  <%= image_tag("shop/#{shop.code}.jpg", class: "small-image") %>
  <%= link_to "お店の詳細へ", shop_path(shop), class: "bg-blue-600 text-white font-bold my-2 px-4 py-2 rounded" %>
</div>