<div id='map'></div>

<script>
let map;
let infoWindows = [];

function closeAllInfoWindows() {
  for (let i = 0; i < infoWindows.length; i++) {
    infoWindows[i].close();
  }
}

function initMap() {
  geocoder = new google.maps.Geocoder();

  map = new google.maps.Map(document.getElementById('map'), {
    center: { lat: 35.68128415327956, lng: 139.76676039246024 },
    zoom: 16,
  });

  <% @shops.each do |shop| %>
    // Create the marker
    marker = new google.maps.Marker({
      position: { lat: <%= shop.latitude %>, lng: <%= shop.longitude %> },
      map: map,
    });

    // Create the info window content
    const infoWindowContent = `<%= render "content_window" %>`;

    // Create the info window
    const infoWindow = new google.maps.InfoWindow({
      content: infoWindowContent,
      maxWidth: 800,
    });
    infoWindows.push(infoWindow);

    // Add click listener to marker to open the info window
    marker.addListener('click', function() {
      closeAllInfoWindows();
      infoWindow.open(map, marker);
    });
  <% end %>
}

</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap" async defer></script>
